@font-face {
    font-family: iransansx-bold;
    src: url(../fots/IRANSansX-Bold.woff);
}
@font-face {
    font-family: iransansx-regular;
    src: url(../fots/IRANSansX-Regular.woff);
}
@font-face {
    font-family: iransansx-medium;
    src: url(../fots/IRANSansX-Medium.woff);
}